<!DOCTYPE HTML>
<!--
        Landed by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Landed by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1 id="logo"><a href="index.html"><img class="topLogo" src="images/logo.png"/></a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="#one">Обо мне</a></li>
                        <!--<li>
                                <a href="#">Layouts</a>
                                <ul>
                                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="no-sidebar.html">No Sidebar</a></li>
                                        <li>
                                                <a href="#">Submenu</a>
                                                <ul>
                                                        <li><a href="#">Option 1</a></li>
                                                        <li><a href="#">Option 2</a></li>
                                                        <li><a href="#">Option 3</a></li>
                                                        <li><a href="#">Option 4</a></li>
                                                </ul>
                                        </li>
                                </ul>
                        </li> -->
                        <li><a href="#four">Гастроли</a></li>
                        <!-- <li><a href="#" class="button special">Sign Up</a></li> -->
                    </ul>
                </nav>
            </header>

            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h2>Matvey Emerson</h2>
                        <p>Московский deephouse / nudisco<br />
                            продюссер, Dj и кинокомпозитор.</p>
                    </header>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
                <a href="#one" class="goto-next scrolly">Next</a>
            </section>

            <!-- One -->
            <section id="one" class="spotlight style1 bottom">
                <span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="4u 12u$(medium)">
                                <header>
                                    <h2>MATVEY EMERSON</h2>
                                    <p>// biography </p>
                                </header>
                            </div>
                            <div class="4u 12u$(medium)">
                                <p>Автор хита ‘I Know You Care’ - трек стоял в ротациях на всех
                                    главных радиостанций страны и был признан радио-хитом 2015 года по версии
                                    PROMO DJ. Имя Матвея не раз светилось в английском издании DJ MAG. Почти
                                    каждый  релиз  Эмерсона  попадает  в  самые  престижные  чарты,  будь  то  TOP  100
                                    Beatport или сводки продаж iTunes. Крупнейший российский музыкальный портал
                                    PROMODJ признал его продюсером 2014 года.</p>
                            </div>
                            <div class="4u$ 12u$(medium)">
                                <p>Каждый год Матвей попадает в
                                    мировой  TOP100  лучших  nu  disco  /  indie  dance  музыкантов  по  версии  магазинов
                                    Beatport и Traxsource. Так же стоит отметить трек Run  Away, который достиг
                                    первого места в американском Traxsource, и ремикс  на  Swanky  Tunes  –  At
                                    The  End  Of  The  Night  который  вышел  на  одном  из  самых  сильных
                                    танцевальных  лейблах  мира  Armada  Music  и  попал  во  все  главные  чарты
                                    магазинов!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#two" class="goto-next scrolly">Next</a>
            </section>

            <!-- Two -->
            <section id="two" class="spotlight style2 right">
                <span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
                <div class="content">
                    <header>
                        <h2>А так же..</h2>
                        <p>// achivements</p>
                    </header>
                    <p>Треки Матвея регулярно играют топовые DJ's планеты: Oliver Heldens, Tiesto, Nicky Romero,
                        Don Diablo и многие другие. В 2015 Матвей Эмерсон входит в топ 100 лучших ди-джеев страны
                        по версии Alfa Future Awards. Матвей является резидентом одного из самых топовых клубов
                        Санкт-Петербурга - 'Estrada' , а плотный гастрольный график включает в себя десятки
                        городов России и зарубежья.
                    </p>
                    <ul class="actions">
                        <!-- <li><a href="#" class="button">Узнать больше</a></li> -->
                    </ul>
                </div>
                <a href="#three" class="goto-next scrolly">Next</a>
            </section>

            <!-- Three -->
            <section id="three" class="spotlight style3 left">
                <span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
                <div class="content">
                    <header>
                        <h2>Find more..</h2>
                        <p>LABELS: </p>
                    </header>
                    <p>Armada Music / Armada Deep <br/>
                        The Bearded Man <br/>
                        Big Beat (Atlantic Records)<br/>
                        Enormous Tunes <br/>
                        Toolroom <br/>
                        CR2
                    </p>
                    <header>
                        <p>LINKS: </p>
                    </header>
                    <p>
                        <a href="https://soundcloud.com/matveyemerson">soundcloud.com</a><br/>
                        <a href="http://www.beatport.com/artist/matvey-emerson/128506">www.beatport.com</a><br/>
                        <a href="https://www.facebook.com/matveyemersonofficial">www.facebook.com</a> <br/>
                    </p>
                    <ul class="actions">
                        <!-- <li><a href="#" class="button">Узнать больше</a></li> -->
                    </ul>
                </div>
                <a href="#four" class="goto-next scrolly">Next</a>
            </section>

            <!-- Four -->
            <section id="four" class="wrapper style1 special fade-up">
                <div class="container">
                    <header class="major">
                        <h2>Контактные данные</h2>
                        <p>Организация выступлений и менеджемент</p>
                    </header>


                    <footer class="major">
                        <h3>Антон</h3>
                        <div><a href="vk.com/antonheas">vk.com/antonheas</a></div>
                        <div>+7 (968) 111 99 11</div>
                        <div>+7 (916) 026 02 03</div>
                        <div><a href="mailto:heas@mixfeedagency.com">heas@mixfeedagency.com</a></div>
                    </footer>
                </div>
            </section>

            <!-- Five -->
            <section id="five" class="wrapper style2 special fade">
                <div class="container">
                    <header>
                        <h2>Обратная связь</h2>
                        <p> //feedback</p>
                    </header>
                    <form method="post" action="{{ path('feed_back') }}" class="container 50%">
                        <div class="row uniform 50%">
                            <div class="12u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Имя" /></div>
                            <div class="12u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                            <div class="12u 12u$(xsmall)"><textarea name="email" id="email" placeholder="Текст сообщения" /></textarea></div>
                            <br/>
                            <div class="4$ 12u$(xsmall)"><input type="submit" value="Отправить" class="fit special" /></div>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="https://vk.com/emerson" target="_blank" class="icon alt fa-vk"><span class="label">VK</span></a></li>
                    <li><a href="https://www.facebook.com/matveyemerson" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/matveyemerson/" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Все права защищены.</li><li>Design: <a href="http://dgpart.ru">dgpart.ru</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>

    </body>
</html>